<div id="message-{{ message.uuid }}" class="message" data-sender-uuid="{{ message.sender.uuid }}" data-recipient-uuid="{{ message.recipient.uuid }}" data-read="{{ message.read }}" data-utc-timestamp="{{ message.timestamp }}">
    <ul>
        <li>From: {{ message.sender.username }}</li>
        <li>To: {{ message.recipient.username }}</li>
        <li><span style="white-space: pre-wrap;">{{ message.content.full }}</span></li>
        <li><span class="time">{{ message.timestamp }}</span></li>
        {% if message.sender.uuid == user.uuid|stringformat:'s' %}
            <li>Read: <span class="read-status">{{ message.read }}</span></li>
        {% endif %}
    </ul>
</div>