<li id="message-{{ message.uuid }}" class="message {% if message.sender.uuid != user.uuid|stringformat:'s' %}other-{% endif %}user-message" data-sender-uuid="{{ message.sender.uuid }}" data-recipient-uuid="{{ message.recipient.uuid }}" data-read="{{ message.read }}" data-utc-timestamp="{{ message.timestamp }}">
    <div class="message-content">{{ message.content.full }}</div>
    <div class="message-info">
        <span class="time">{{ message.timestamp }}</span>
        {% if message.sender.uuid == user.uuid|stringformat:'s' %}
            <span class="read-status">
                {% if message.read == 'True' %}
                    Read
                {% else %}
                    Not Read
                {% endif %}
            </span>
        {% endif %}
    </div>
</li>