<ul id="chat-{{ other_user.uuid }}" class="recent-chat" data-unread-count="{{ unread_count }}" data-utc-timestamp="{{ last_message.timestamp }}">
    <li class="recent-chat-heading">{% include 'chat/partials/chat_link.html' with other_user=other_user %}<span class="unread-count">{{ unread_count }}</span></li>
    <li class="recent-chat-data">
        <div class="recent-chat-content">
            {% if last_message.sender.uuid == user.uuid|stringformat:'s' %}
                <span class="read-status">
                    {% if message.read == 'True' %}
                        Read
                    {% else %}
                        Not Read
                    {% endif %}
                </span>
            {% endif %}
            {{ last_message.sender.username }}:
            <span style="white-space: pre-wrap;">{{ last_message.content.limited }}</span>
        </div>
        <div class="recent-chat-info">
            <span class="time">{{ last_message.timestamp }}</span>
            <span class="date"></span>
        </div>
    </li>
</ul>