<li id="chat-{{ other_user.uuid }}" class="recent-chat" data-unread-count="{{ unread_count }}" data-utc-timestamp="{{ last_message.timestamp }}">
    {% url 'direct_message' other_user.uuid as direct_message_url %}
    <a href="{{ direct_message_url }}" {% if request.path == direct_message_url %}class="active"{% endif %} hx-target="#home-content">
        <div class="chat-heading">
            <p class="chat-heading-username">{{ other_user.username }}</p>
            <p class="unread-count">{% if unread_count > 0 %}{{ unread_count }}{% endif %}</p>
        </div>
        <div class="chat-details">
            <div class="chat-details-left">
                <p class="last-message">
                    {% if last_message.sender.uuid == user.uuid|stringformat:'s' %}
                        <span class="read-status">
                            {% if last_message.read == 'True' %}
                                Read
                            {% else %}
                                Not Read
                            {% endif %}
                        </span>
                    {% endif %}
                    <span class="username">{{ last_message.sender.username }}</span>: {{ last_message.content.limited }}
                </p>
            </div>
            <div class="chat-details-right">
                <p class="time">{{ last_message.timestamp }}</p>
                <p class="date"></p>
            </div>
        </div>
    </a>
</li>