<div id="message-{{ message.uuid }}" class="message" data-sender="{{ message.sender }}" data-read="{{ message.read }}">
    <ul>
        <li>From: {{ message.sender }}</li>
        <li>To: {{ message.recipient }}</li>
        <li style="white-space: pre-wrap;">{{ message.content }}</li>
        <li>{{ message.timestamp }}</li>
        {% if message.sender == user.username %}
            <li class="read-status">Read: {{ message.read }}</li>
        {% else %}
            {% if message.read == 'False' %}
                <li>New</li>
            {% endif %}
        {% endif %}
    </ul>
</div>