<div id="message-{{ message.uuid }}" class="message" data-sender="{{ message.sender }}" data-recipient="{{ message.recipient }}" data-read="{{ message.read }}" data-utc-timestamp="{{ message.timestamp }}">
    <ul>
        <li>From: {{ message.sender }}</li>
        <li>To: {{ message.recipient }}</li>
        <li style="white-space: pre-wrap;">{{ message.content }}</li>
        <li class="time"></li>
        {% if message.sender == user.username %}
            <li>Read: <span class="read-status">{{ message.read }}</span></li>
        {% endif %}
    </ul>
</div>