{% include 'partials/hx_request_check.html' %}

<div class="heading">
    <h1>Add friend</h1>
</div>
<div class="content-container">
    {% if messages %}
        {% for message in messages %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'add_friend' %}" hx-target="#manage-friends-content">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send request</button>
    </form>
</div>