<li id="friend-{{ friend.uuid }}" class="user-list-item" data-username="{{ friend.username }}">
    <a href="{% url 'direct_message' friend.uuid %}" hx-target="#home-content">
        <p>{{ friend.username }}</p>
    </a>
    <form method="POST" action="{% url 'friends_list' %}" hx-target="#friends-list" hx-swap="none">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
        <input type="hidden" name="uuid" value="{{ friend.uuid }}"/>
        <button type="submit" name="action" value="remove">Remove</button>
    </form>
</li>