{% extends 'chat/base.html' %}
{% block content %}
    <h1>{{ recipient }}</h1>
    {% if not is_friends %}
        <p>You cannot message this user because they are not on your friends list</p>
    {% endif %}
    <form method="POST" action="{% url 'direct_message' recipient.username %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Send</button>
    </form>
    {% for message in all_messages %}
        <ul>
            <li>From: {{ message.sender }}</li>
            <li>To: {{ message.recipient }}</li>
            <li style="white-space: pre-wrap;">{{ message.content }}</li>
            <li>{{ message.timestamp }}</li>
        </ul>
    {% endfor %}
{% endblock content %}