{% extends 'chat/base.html' %}
{% block content %}
    <h1>Home</h1>
    <p>Hello {{ user }}</p>
    Incoming requests
    <ul>
        {% for request in incoming_requests %}
            <li>{{ request.username }}</li>
        {% endfor %}
    </ul>
    Outgoing requests
    <ul>
        {% for request in outgoing_requests %}
            <li>{{ request.username }}</li>
        {% endfor %}
    </ul>
    Friends
    <ul>
        {% for friend in friends_mutual %}
            <li>{{ friend.username }}</li>
        {% endfor %}
    </ul>          
{% endblock content %}