{% extends 'chat/base.html' %}
{% block content %}
    <h1>Home</h1>
    <p>This is a chat app</p>
    <form method="POST" action="{% url 'chat_home' %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Send</button>
    </form>
    {% for message in sent_messages %}
        <ul>
            <li>{{ message.sender }}</li>
            <li>{{ message.recipient }}</li>
            <li>{{ message.content }}</li>
            <li>{{ message.timestamp }}</li>
        </ul>
    {% endfor %}
{% endblock content %}