:root {
    color-scheme: light;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, button:hover {
    background-image: linear-gradient(rgb(255 255 255/25%) 0 0);
}

.active {
    background-image: linear-gradient(rgb(255 255 255/75%) 0 0);
}

textarea, button, input {
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
}

#ws-connection-status {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

#ws-connection-status:empty {
    display: none;
}

#load {
    display: none;
}

.username {
    font-weight: 500;
}

.flex-home-container, .flex-settings-container, .flex-auth-container {
    max-height: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    gap: 5px;
    background-color: lightgray;
}

.flex-home-container {    
    flex-direction: row;

}

.flex-settings-container {
    width: 1500px;
    align-self: center;
    flex-direction: row;
}

.flex-auth-container {
    width: 1500px;
    align-self: center;
    flex-direction: column;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightseagreen;
}

.navigation-bar > .horizontal-menu {
    width: 1500px;
}

#auth-content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5px;
}

.content-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-container form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
  
.content-container form label {
    display: block;
    font-weight: bold;
}

.content-container form input[type="text"],
.content-container form input[type="email"],
.content-container form input[type="password"] {
    width: 100%;
    margin: 5px 0px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.content-container form p:empty {
    display: none;
}
  
.content-container form button {
    align-self: flex-start;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
}

.content-container a {
    color: revert;
    text-decoration: revert;
}
  
.content-container ul {
    list-style-type: revert;
    padding-left: 20px;
}

.sidebar {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    gap: 5px;
}

.sidebar-top, .sidebar-bottom {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: lightblue;
}

.sidebar-top > *, .sidebar-bottom > * {
    padding: 10px 15px;
}

#friends-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
}

#friends-text {
    padding: 5px 0;
}

#incoming-count-home-text {
    padding: 5px 10px;
    border-radius: 15px;
    background-color: lightsalmon;
}

#incoming-count-home:empty {
    display: none;
}

body:has(#incoming-count-home:empty) #incoming-count-home-text {
    display: none;
}

#settings-link, #home-link {
    border-radius: 15px;
}

.sidebar-middle {
    flex: 1;
    overflow-y: auto;
}

#recent-chats {
    display: flex;
    flex-direction: column;
}

.recent-chat > a {
    max-height: 120px;
    padding: 20px;
    margin: 3px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5px;
    background-color: blanchedalmond;
}

.chat-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.chat-heading-username {
    flex: 1;
    padding: 5px 0;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.chat-details {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.chat-details-left {
    flex: 1;
    overflow: hidden;
}

.last-message {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.chat-details-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.unread-count {
    padding: 5px 10px;
    border-radius: 15px;
    background-color: greenyellow;
}

.unread-count:empty {
    display: none;
}

.content {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    gap: 5px;
}

.heading {
    padding: 20px;
    background-color: lightcyan;
}

.horizontal-menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: lightgreen;
}

.horizontal-menu > li {
    padding: 20px;
}

.horizontal-menu a {
    padding: 10px 15px;
    border-radius: 15px;
}

#manage-friends-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5px;
}

.manage-friends-content-container {
    flex: 1;
    background-color: lightcoral;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#friends-list, #incoming-requests, #outgoing-requests {
    width: 1500px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.user-list-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    background-color: beige;
}
  
.user-list-item > a {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: bisque;
}

.user-list-item p {
    max-width: calc(100% - 180px); /* Ensure the text does not go behind the form buttons at the end */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 20px;
}

.user-list-item > form {
    pointer-events: none;
    position: absolute;
    right: 20px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.user-list-item button {
    pointer-events: auto;
    padding: 5px 15px;
    border-style: none;
    border-radius: 3px;
}

#chat-content-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#messages {
    width: 1500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    max-width: 50%;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

/* Formula: (messages container width + horizontal padding) / content width ratio of body + potential scrollbar width */
@media (max-width: calc(((1500px + (20px * 2)) / 0.8) + 20px)) {
    #messages, #friends-list, #incoming-requests, #outgoing-requests {
        width: 100%;
    }

    .message {
        max-width: 80%;
    }
}

@media (max-width: 1500px) {
    .flex-settings-container, .flex-auth-container, .navigation-bar > .horizontal-menu {
        width: 100%;
    }
}

.message-content {
    white-space: pre-wrap;
}

.message-info {
    margin-top: 5px;
    font-size: smaller;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.read-status {
    font-weight: lighter;
}

.user-message {
    align-self: end;
    background-color: azure;
}

.other-user-message {
    align-self: start;
    background-color: gray;
}

.date-text {
    margin: 15px 0;
    padding: 5px 15px;
    border-radius: 10px;
    align-self: center;
    font-weight: bold;
    opacity: 0.8;
    background-color: gray;
}

#new-messages-text {
    width: 100%;
    margin: 15px 0;
    padding: 5px 0;
    border-radius: 10px;
    align-self: center;
    text-align: center;
    font-weight: bold;
    color: white;
    opacity: 0.8;
    background-color: lightcoral;
}

#friendship-status {
    padding: 5px 15px;
    background-color: beige;
}

#friendship-status:empty {
    display: none;
}

#chat-form {
    padding: 15px;
    display: flex;
    gap: 20px;
    background-color: aquamarine;
}

#chat-input {
    flex-grow: 1;
    resize: none;
    field-sizing: content; /* NOT WIDELY SUPPORTED BY ALL MAIN BROWSERS */
    max-height: 4em;
    padding: 10px;
    outline-style: none;
    border-style: none;
    border-radius: 10px;
}

#chat-button {
    align-self: flex-end;
    padding: 10px;
    border-style: none;
    border-radius: 10px;
}

.vertical-menu {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.vertical-menu > li {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
}

.vertical-menu a {
    flex: 1;
    padding: 10px 15px;
    border-radius: 15px;
    overflow: hidden;
}

#settings-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}