{% extends 'chat/home.html' %}
{% block home_content %}
    <div ws-send hx-trigger="load delay:1ms" hx-vals='{"type":"chat_load", "uuid":"{{ current_other_user.uuid }}"}'></div>
    <!-- <div ws-send hx-trigger="beforeunload from:window" hx-vals='{"type":"chat_unload"}'></div> -->

    <div>
        <h1>{{ current_other_user }}</h1>

        <div id="chat-error"></div>
        <div id="friendship-status">
            {% if not are_friends %}
                {% include 'chat/snippets/not_friends_text.html' %}
            {% endif %}
        </div>
        
        <!-- send POST request as a fallback if JavaScript is disabled and websockets can't be used -->
        <form id="form" ws-send hx-vals='{"type":"chat_send"}' method="POST" action="{% url 'direct_message' current_other_user.uuid %}">
            {% csrf_token %}
            {% with field=form.content %}
                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <input type="text" id="chat-input" name="{{ field.name }}" value="{{ field.value|default:'' }}" autofocus/>
            {% endwith %}
        </form>

        <div id="messages">
            {% for message in chat_messages reversed %}
                {% include 'chat/snippets/message.html' %}
            {% endfor %}
        </div>
    </div>

    <script>
        let currentAreFriends = '{{ are_friends }}' === 'True'; // Convert string to boolean
        
        let isNewMessagesText = false;

        function getDateTextHtml(date) {
            return `{% include 'chat/snippets/date_text.html' with date='TEMP' %}`.replaceAll('TEMP', date);
        }

        function getNewMessagesTextHtml() {
            return `{% include 'chat/snippets/new_messages_text.html' %}`
        }

        function getNotFriendsTextHtml() {
            return `{% include 'chat/snippets/not_friends_text.html' %}`
        }

        function isNewUnreadMessage(messageElement) {
            return messageElement.dataset.recipientUuid === '{{ user.uuid }}' && messageElement.dataset.read === 'False';
        }

        document.addEventListener('DOMContentLoaded', () => {
            let previousDate = null;

            const messageElements = document.querySelectorAll('.message');
            messageElements.forEach(messageElement => {
                insertLocalTimestamp(messageElement);
                const currentDate = messageElement.dataset.date;
                if (currentDate !== previousDate) {
                    const dateTextHtml = getDateTextHtml(currentDate);
                    messageElement.insertAdjacentHTML('beforebegin', dateTextHtml);
                    previousDate = currentDate;
                }

                if (!isNewUnreadMessage(messageElement)) {
                    return;
                }

                messageElement.dataset.read = 'True';
                if (!isNewMessagesText) {
                    const newMessagesTextHtml = getNewMessagesTextHtml();
                    messageElement.insertAdjacentHTML('beforebegin', newMessagesTextHtml);
                    isNewMessagesText = true;
                }
            });
        });

        document.body.addEventListener('htmx:wsConfigSend', (event) => {
            const content = event.detail.parameters.content;
            if (content === undefined) {
                // The event was triggered by either chat load or unload
                return;
            }
            // Cancel event and don't send message if the users don't have a mutual friendship, or if the message is blank
            if (!currentAreFriends || !content.trim()) {
                event.preventDefault();
            }
        });

        document.body.addEventListener('htmx:wsAfterSend', (event) => {
            const chatInputELement = document.getElementById('chat-input');
            chatInputELement.value = '';
        });

        function clearNewMessagesText() {
            const newMessagesTextElement = document.getElementById('new-messages');
            newMessagesTextElement.remove();
        }

        function updateMessages(newMessageHtml) {
            const newMessageElement = htmlToElement(newMessageHtml);
            insertLocalTimestamp(newMessageElement);

            const messagesContainer = document.getElementById('messages');

            const date = newMessageElement.dataset.date;
            const dateTextElement = document.getElementById(`date-${date}`);
            if (dateTextElement === null) {
                const dateTextHtml = getDateTextHtml(date);
                messagesContainer.insertAdjacentHTML('beforeend', dateTextHtml);
            }

            messagesContainer.insertAdjacentElement('beforeend', newMessageElement);

            if (isNewMessagesText) {
                clearNewMessagesText();
                isNewMessagesText = false;
            }
        }

        function updateMessageElementReadStatus(messageElement) {
            messageElement.dataset.read = 'True';
            updateElementReadStatus(messageElement);
        }

        function updateMessageReadStatus(messageUuid) {
            const messageElement = document.getElementById(`message-${messageUuid}`);
            if (messageElement && messageElement.dataset.read === 'False') {
                updateMessageElementReadStatus(messageElement);
            }
        }

        function updateAllMessagesReadStatus(senderUuid) {
            const messageElements = document.querySelectorAll(`.message[data-sender-uuid='${senderUuid}'][data-read='False']`);
            messageElements.forEach(updateMessageElementReadStatus);
        }
        
        function updateFriendship(areFriends) {
            currentAreFriends = areFriends;
            const friendshipStatusElement = document.getElementById('friendship-status');
            friendshipStatusElement.innerHTML = currentAreFriends ? '' : getNotFriendsTextHtml();
        }
    </script>
{% endblock home_content %}