{% extends 'chat/home.html' %}
{% block home_content %}
    <div>
        <h1>{{ current_other_user }}</h1>

        <div id="chat-error"></div>
        <div id="friendship-status">
            {% if not are_friends %}
                {% include 'chat/snippets/not_friends_text.html' %}
            {% endif %}
        </div>

        <!-- BUG: load ws message is sent twice, added 1ms delay as a workaround -->
        <div ws-send hx-trigger="load delay:1ms" hx-vals='{"type":"chat_load", "uuid":"{{ current_other_user.uuid }}"}'></div>
        <div ws-send hx-trigger="beforeunload from:window" hx-vals='{"type":"chat_unload"}'></div>

        <form id="form" ws-send hx-vals='{"type":"chat_send"}'>
            <input id="chat-input" name="content">
        </form>

        <div id="messages">
            {% for message in all_messages reversed %}
                {% include 'chat/snippets/message.html' %}
            {% endfor %}
        </div>
    </div>

    <script>
        let areFriends = '{{ are_friends }}' === 'True'; // Convert string to boolean
        
        let isNewMessagesText = false;

        function getDateTextHtml(date) {
            return `{% include 'chat/snippets/date_text.html' with date='TEMP' %}`.replaceAll('TEMP', date);
        }

        function getNewMessagesTextHtml() {
            return `{% include 'chat/snippets/new_messages_text.html' %}`
        }

        document.addEventListener('DOMContentLoaded', () => {
            let previousDate = null;

            const messageElements = document.querySelectorAll('.message');
            messageElements.forEach(messageElement => {
                insertLocalTimestamp(messageElement);
                const currentDate = messageElement.dataset.date;
                if (currentDate !== previousDate) {
                    const dateTextHtml = getDateTextHtml(currentDate);
                    messageElement.insertAdjacentHTML('beforebegin', dateTextHtml);
                    previousDate = currentDate;
                }

                const isNew = messageElement.dataset.recipientUuid === '{{ user.uuid }}' && messageElement.dataset.read === 'False';
                if (isNew === true) {
                    messageElement.dataset.read = 'True';
                    if (isNewMessagesText === false) {
                        const newMessagesTextHtml = getNewMessagesTextHtml();
                        messageElement.insertAdjacentHTML('beforebegin', newMessagesTextHtml);
                        isNewMessagesText = true;
                    }
                }
            });
        });

        document.body.addEventListener('htmx:wsConfigSend', (event) => {
            const content = event.detail.parameters.content;
            if (content === undefined) {
                // The event was triggered by either chat load or unload 
                return;
            }
            // Cancel event and don't send message if the users don't have a mutual friendship, or if the message is blank
            if (!areFriends || !content.trim()) {
                event.preventDefault();
            }
        });

        document.body.addEventListener('htmx:wsAfterSend', (event) => {
            const chatInputELement = document.getElementById('chat-input');
            chatInputELement.value = '';
        });

        function clearNewMessagesText() {
            const newMessagesTextElement = document.getElementById('new-messages');
            newMessagesTextElement.remove();
        }

        function updateMessages(newMessageHtml) {
            const newMessageElement = htmlToElement(newMessageHtml);
            insertLocalTimestamp(newMessageElement);

            const messagesContainer = document.getElementById('messages');

            const date = newMessageElement.dataset.date;
            const dateTextElement = document.getElementById(`date-${date}`);
            if (dateTextElement === null) {
                const dateTextHtml = getDateTextHtml(date);
                messagesContainer.insertAdjacentHTML('beforeend', dateTextHtml);
            }

            messagesContainer.insertAdjacentElement('beforeend', newMessageElement);

            if (isNewMessagesText === true) {
                clearNewMessagesText();
                isNewMessagesText = false;
            }
        }

        function updateMessageReadStatus(messageElement) {
            messageElement.dataset.read = 'True';
            updateReadStatus(messageElement);
        }

        function displayChatErrorMessage() {
            const chatErrorElement = document.getElementById('chat-error');
            chatErrorElement.innerHTML = `{% include 'chat/snippets/error_text.html' %}`;
        }

        function handleFriendshipCreated() {
            areFriends = true;
            const friendshipStatusElement = document.getElementById('friendship-status');
            friendshipStatusElement.textContent = '';
        }

        function handleFriendshipRemoved() {
            areFriends = false;
            const friendshipStatusElement = document.getElementById('friendship-status');
            friendshipStatusElement.innerHTML = `{% include 'chat/snippets/not_friends_text.html' %}`;
        }
    </script>
{% endblock home_content %}