{% extends 'base.html' %}
{% block content %}
    <div hx-ext="ws" ws-connect="/ws/chat/">
        <!-- BUG: load ws message is sent twice, added 1ms delay as a workaround -->
        <div ws-send hx-trigger="load delay:1ms" hx-vals='{"type":"page_load", "path":"{{ request.path }}"}'></div>

        <p>Signed in as: {{ user.username }}</p>

        <a href="{% url 'friends_list' %}">Friends</a> (<span class="incoming-count">{{ incoming_requests|length }}</span> incoming requests)

        <div id="recent-chats">
            {% for chat in recent_chats %}
                {% with other_user=chat.other_user last_message=chat.last_message unread_count=chat.unread_count %}
                    {% include 'chat/snippets/recent_chat.html' %}
                {% endwith %}
            {% endfor %}
        </div>
        
        {% block home_content %}
        {% endblock home_content %}
    </div>
    <script>
        const jsonMessageHandlers = {
            'recent_chat_html': (jsonData) => updateRecentChats(jsonData.html),
            'message_html': (jsonData) => updateMessages(jsonData.html),
            'decrement_unread_count': (jsonData) => decrementUnreadCount(jsonData.otherUserUuid, jsonData.unreadCount),
            'update_recent_chat_read_status': (jsonData) => updateRecentChatReadStatus(jsonData.otherUserUuid),
            'update_message_read_status': (jsonData) => updateMessageReadStatus(jsonData.messageUuid),
            'update_all_messages_read_status': (jsonData) => updateAllMessagesReadStatus(jsonData.senderUuid),
            'friendship_created': (jsonData) => handleFriendshipCreated(jsonData.other_user),
            'friendship_removed': (jsonData) => handleFriendshipRemoved(jsonData.other_user),
            'friend_request_sent': (jsonData) => handleFriendRequestSent(jsonData.other_user),
            'friend_request_rejected': (jsonData) => handleFriendRequestRejected(jsonData.other_user),
            'friend_request_cancelled': (jsonData) => handleFriendRequestCancelled(jsonData.other_user),
            'friend_account_deleted': (jsonData) => handleFriendAccountDeleted(jsonData.other_user)
        };

        function handleJsonMessage(jsonData) {
            if (jsonMessageHandlers[jsonData.type] !== undefined) {
                jsonMessageHandlers[jsonData.type](jsonData);
            }
        }

        document.body.addEventListener('htmx:wsBeforeMessage', (event) => {
            const wsMessage = event.detail.message;
            const jsonData = JSON.parse(wsMessage);
            handleJsonMessage(jsonData);
            // Cancel event to prevent any further unnecessary processing by HTMX
            event.preventDefault();
        });

        const dateFormatter = new Intl.DateTimeFormat(undefined, {
            dateStyle: 'short'
        });

        const timeFormatter = new Intl.DateTimeFormat(undefined, {
            timeStyle: 'short'
        });

        function getLocalTimestamp(utcTimestampString) {
            return new Date(utcTimestampString);
        }

        function getDate(timestamp) {
            return dateFormatter.format(timestamp);
        }

        function getTime(timestamp) {
            return timeFormatter.format(timestamp);
        }

        function insertLocalTimestamp(element) {
            const utcTimestamp = element.dataset.utcTimestamp;
            const localTimestamp = getLocalTimestamp(utcTimestamp);
            const time = getTime(localTimestamp);
            const date = getDate(localTimestamp);
            element.dataset.time = time;
            element.dataset.date = date;

            const timeElement = element.querySelector('.time');
            if (timeElement) {
                timeElement.textContent = time;
            }

            const dateElement = element.querySelector('.date');
            if (dateElement) {
                dateElement.textContent = date;
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            const recentChatElements = document.querySelectorAll('.recent-chat');
            recentChatElements.forEach(recentChat => {
                insertLocalTimestamp(recentChat);
            });
        });

        function isCurrentChat(otherUserUuid) {
            return '{{ current_other_user.uuid }}' && (otherUserUuid === '{{ current_other_user.uuid }}')
        }

        function htmlToElement(html, trim = true) {
            html = trim ? html.trim() : html;
            if (!html) return null;

            const template = document.createElement('template');
            template.innerHTML = html;
            const result = template.content.children;

            if (result.length === 1) return result[0];
            return result;
        }

        function setUnreadCount(recentChatElement, newUnreadCount) {
            recentChatElement.dataset.unreadCount = newUnreadCount
            recentChatElement.querySelector('.unread-count').textContent = newUnreadCount;
        }

        function updateRecentChats(newRecentChatHtml) {
            const newRecentChatElement = htmlToElement(newRecentChatHtml);
            insertLocalTimestamp(newRecentChatElement);

            const oldRecentChatElement = document.getElementById(newRecentChatElement.id);
            if (oldRecentChatElement) {
                oldRecentChatElement.remove();
            }

            let unreadCount = newRecentChatElement.dataset.unreadCount;
            if (unreadCount === 'INCREMENT') {
                if (oldRecentChatElement) {
                    unreadCount = parseInt(oldRecentChatElement.dataset.unreadCount) + 1;
                } else {
                    unreadCount = 1;
                }
            }
            setUnreadCount(newRecentChatElement, unreadCount);

            document.getElementById('recent-chats').insertAdjacentElement('afterbegin', newRecentChatElement);
        }

        function updateElementReadStatus(element) {
            const readStatusElement = element.querySelector('.read-status');
            readStatusElement.textContent = 'True';
        }

        function updateRecentChatReadStatus(otherUserUuid) {
            const recentChatElement = document.getElementById(`chat-${otherUserUuid}`);
            updateElementReadStatus(recentChatElement);
        }

        function decrementUnreadCount(otherUserUuid, count) {
            const recentChatElement = document.getElementById(`chat-${otherUserUuid}`);
            const oldUnreadCount = parseInt(recentChatElement.dataset.unreadCount);
            const newUnreadCount = Math.max(0, oldUnreadCount - count);
            setUnreadCount(recentChatElement, newUnreadCount);
        }

        function handleFriendshipCreated(otherUser) {
            if (isCurrentChat(otherUser)) {
                areFriends = true;
                const friendshipStatusElement = document.getElementById('friendship-status');
                friendshipStatusElement.textContent = '';
            }

            if (isOnFriendsPage()) {
                
            }
        }

        function handleFriendshipRemoved(otherUser) {
            if (isCurrentChat(otherUser)) {
                areFriends = false;
                const friendshipStatusElement = document.getElementById('friendship-status');
                friendshipStatusElement.innerHTML = getNotFriendsTextHtml();
            }
        }
    </script>
{% endblock content %}