{% extends 'base.html' %}
{% block content %}
    <div hx-ext="ws" ws-connect="/ws/chat/">
        <!-- BUG: load ws message is sent twice, added 1ms delay as a workaround -->
        <div ws-send hx-trigger="load delay:1ms" hx-vals='{"type":"page_load", "path":"{{ request.path }}"}'></div>

        <p>Signed in as: {{ user.username }}</p>

        <a href="{% url 'manage_friends' %}">Friends</a> (<span id="incoming-count-home">{{ incoming_requests|length }}</span> incoming requests)

        <div id="recent-chats">
            {% for chat in recent_chats %}
                {% with other_user=chat.other_user last_message=chat.last_message unread_count=chat.unread_count %}
                    {% include 'chat/snippets/recent_chat.html' %}
                {% endwith %}
            {% endfor %}
        </div>
        
        {% block home_content %}
        {% endblock home_content %}
    </div>
    <script>
        // Prevent a POST resubmit on refresh or back button
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        const jsonMessageHandlers = {
            'recent_chat_html': (jsonData) => updateRecentChats(jsonData.html),
            'message_html': (jsonData) => updateMessages(jsonData.html),
            'decrement_unread_count': (jsonData) => decrementUnreadCount(jsonData.otherUserUuid, jsonData.count),
            'update_recent_chat_read_status': (jsonData) => updateRecentChatReadStatus(jsonData.otherUserUuid),
            'update_message_read_status': (jsonData) => updateMessageReadStatus(jsonData.messageUuid),
            'update_all_messages_read_status': (jsonData) => updateAllMessagesReadStatus(jsonData.senderUuid),
            'update_section_count': (jsonData) => updateSectionCount(jsonData.page, jsonData.section, jsonData.action),
            'remove_user_from_section': (jsonData) => removeUserFromSection(jsonData.section, jsonData.otherUserUuid),
            'add_user_html_to_section': (jsonData) => addUserHtmlToSection(jsonData.section, jsonData.html),
            'update_friendship': (jsonData) => updateFriendship(jsonData.areFriends),
            'account_deleted': (jsonData) => handleAccountDeleted()
        };

        function handleJsonMessage(jsonData) {
            if (jsonMessageHandlers[jsonData.type] !== undefined) {
                jsonMessageHandlers[jsonData.type](jsonData);
            }
        }

        document.body.addEventListener('htmx:wsBeforeMessage', (event) => {
            const wsMessage = event.detail.message;
            const jsonData = JSON.parse(wsMessage);
            handleJsonMessage(jsonData);
            // Cancel event to prevent any further unnecessary processing by HTMX
            event.preventDefault();
        });

        const dateFormatter = new Intl.DateTimeFormat(undefined, {
            dateStyle: 'short'
        });

        const timeFormatter = new Intl.DateTimeFormat(undefined, {
            timeStyle: 'short'
        });

        function getLocalTimestamp(utcTimestampString) {
            return new Date(utcTimestampString);
        }

        function getDate(timestamp) {
            return dateFormatter.format(timestamp);
        }

        function getTime(timestamp) {
            return timeFormatter.format(timestamp);
        }

        function insertLocalTimestamp(element) {
            const utcTimestamp = element.dataset.utcTimestamp;
            const localTimestamp = getLocalTimestamp(utcTimestamp);
            const time = getTime(localTimestamp);
            const date = getDate(localTimestamp);
            element.dataset.time = time;
            element.dataset.date = date;

            const timeElement = element.querySelector('.time');
            if (timeElement) {
                timeElement.textContent = time;
            }

            const dateElement = element.querySelector('.date');
            if (dateElement) {
                dateElement.textContent = date;
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            const recentChatElements = document.querySelectorAll('.recent-chat');
            recentChatElements.forEach(recentChat => {
                insertLocalTimestamp(recentChat);
            });
        });

        function isCurrentChat(otherUserUuid) {
            return '{{ current_other_user.uuid }}' && (otherUserUuid === '{{ current_other_user.uuid }}')
        }

        function htmlToElement(html, trim = true) {
            html = trim ? html.trim() : html;
            if (!html) return null;

            const template = document.createElement('template');
            template.innerHTML = html;
            const result = template.content.children;

            if (result.length === 1) return result[0];
            return result;
        }

        function setUnreadCount(recentChatElement, newUnreadCount) {
            recentChatElement.dataset.unreadCount = newUnreadCount
            recentChatElement.querySelector('.unread-count').textContent = newUnreadCount;
        }

        function updateRecentChats(newRecentChatHtml) {
            const newRecentChatElement = htmlToElement(newRecentChatHtml);
            insertLocalTimestamp(newRecentChatElement);

            const oldRecentChatElement = document.getElementById(newRecentChatElement.id);
            if (oldRecentChatElement) {
                oldRecentChatElement.remove();
            }

            let unreadCount = newRecentChatElement.dataset.unreadCount;
            if (unreadCount === 'increment') {
                unreadCount = oldRecentChatElement ? parseInt(oldRecentChatElement.dataset.unreadCount) + 1 : 1;
                setUnreadCount(newRecentChatElement, unreadCount);
            }

            document.getElementById('recent-chats').insertAdjacentElement('afterbegin', newRecentChatElement);
        }

        function updateElementReadStatus(element) {
            const readStatusElement = element.querySelector('.read-status');
            readStatusElement.textContent = 'True';
        }

        function updateRecentChatReadStatus(otherUserUuid) {
            const recentChatElement = document.getElementById(`chat-${otherUserUuid}`);
            updateElementReadStatus(recentChatElement);
        }

        function decrementUnreadCount(otherUserUuid, count) {
            const recentChatElement = document.getElementById(`chat-${otherUserUuid}`);
            const oldUnreadCount = parseInt(recentChatElement.dataset.unreadCount);
            const newUnreadCount = Math.max(0, oldUnreadCount - count);
            setUnreadCount(recentChatElement, newUnreadCount);
        }

        function updateSectionCount(page, section, action) {
            const suffix = page === 'home' ? '-home' : '';
            const sectionElement = document.getElementById(`${section}-count${suffix}`);
            const oldCount = parseInt(sectionElement.textContent);
            const newCount = action === 'increment' ? oldCount + 1 : Math.max(0, oldCount - 1);
            sectionElement.textContent = newCount;
        }

        function handleAccountDeleted() {
            window.location.replace(`{% url 'chat_home' %}`);
        }
    </script>
{% endblock content %}