{% extends 'base.html' %}
{% block content %}
    <p>Signed in as: {{ user.username }}</p>

    <a href="{% url 'friends_list' %}">Friends</a> (<span class="incoming-count">{{ incoming_requests|length }}</span> incoming requests)

    <div id="recent-chats">
        {% for chat in recent_chats %}
            {% with other_user=chat.other_user last_message=chat.last_message unread_count=chat.unread_count %}
                {% include 'chat/snippets/recent_chat.html' %}
            {% endwith %}
        {% endfor %}
    </div>
    
    {% block home_content %}
    {% endblock home_content %}

    <script>
        const dateFormatter = new Intl.DateTimeFormat(undefined, {
            dateStyle: 'short'
        });

        const timeFormatter = new Intl.DateTimeFormat(undefined, {
            timeStyle: 'short'
        });

        function getLocalTimestamp(utcTimestampString) {
            return new Date(utcTimestampString);
        }

        function getDate(timestamp) {
            return dateFormatter.format(timestamp);
        }

        function getTime(timestamp) {
            return timeFormatter.format(timestamp);
        }

        function insertLocalTimestamp(element) {
            const utcTimestamp = element.dataset.utcTimestamp;
            const localTimestamp = getLocalTimestamp(utcTimestamp);
            const time = getTime(localTimestamp);
            const date = getDate(localTimestamp);
            element.dataset.time = time;
            element.dataset.date = date;

            const timeElement = element.querySelector('.time');
            if (timeElement) {
                timeElement.textContent = time;
            }

            const dateElement = element.querySelector('.date');
            if (dateElement) {
                dateElement.textContent = date;
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            const recentChatElements = document.querySelectorAll('.recent-chat');
            recentChatElements.forEach(recentChat => {
                insertLocalTimestamp(recentChat);
            });
        });

        function isCurrentChat(otherUserUuid) {
            return '{{ current_other_user.uuid }}' && (otherUserUuid === '{{ current_other_user.uuid }}')
        }

        function htmlToElement(html, trim = true) {
            html = trim ? html.trim() : html;
            if (!html) return null;

            const template = document.createElement('template');
            template.innerHTML = html;
            const result = template.content.children;

            if (result.length === 1) return result[0];
            return result;
        }

        function updateRecentChats(newRecentChatHtml) {
            const newRecentChatElement = htmlToElement(newRecentChatHtml);
            insertLocalTimestamp(newRecentChatElement);

            const oldRecentChatElement = document.getElementById(newRecentChatElement.id);
            if (oldRecentChatElement) {
                oldRecentChatElement.remove();
            }

            let unreadCount = 0;
            const lastSenderUuid = newRecentChatElement.dataset.lastSenderUuid;
            if (lastSenderUuid !== '{{ user.uuid }}' && !isCurrentChat(lastSenderUuid)) {
                if (oldRecentChatElement) {
                    unreadCount = parseInt(oldRecentChatElement.querySelector('.unread-count').textContent) + 1;
                } else {
                    unreadCount = 1;
                }
            }
            newRecentChatElement.querySelector('.unread-count').textContent = unreadCount;

            document.getElementById('recent-chats').insertAdjacentElement('afterbegin', newRecentChatElement);
        }

        function updateReadStatus(element) {
            const readStatusElement = element.querySelector('.read-status');
            readStatusElement.textContent = 'True';
        }

        function updateRecentChatReadStatus(otherUserUuid) {
            const recentChatElement = document.getElementById(`chat-${otherUserUuid}`);
            updateReadStatus(recentChatElement);
        }

        function decrementUnreadCount(otherUserUuid, count) {
            const recentChatElement = document.getElementById(`chat-${otherUserUuid}`);
            const unreadCountElement = recentChatElement.querySelector('.unread-count');
            const oldUnreadCount = parseInt(unreadCountElement.textContent);
            unreadCountElement.textContent = Math.max(0, oldUnreadCount - count);
        }

        function setAllMessagesRead(chat, otherUserUuid) {
            if (chat.recipientUuid === '{{ user.uuid }}') {
                if (!isCurrentChat(otherUserUuid)) {
                    // Update unread count if the user read the message but is not on the relevant chat (ie. they read message on another tab)
                    // The unread count would have already been updated if the user was on the relevant chat
                    decrementUnreadCount(otherUserUuid, chat.unreadCount);
                }
            } else {
                updateRecentChatReadStatus(otherUserUuid);
                if (isCurrentChat(otherUserUuid)) {
                    const messageElements = document.querySelectorAll(`.message[data-sender-uuid="${chat.senderUuid}"][data-read="False"]`);
                    messageElements.forEach(updateMessageReadStatus);
                }
            }
        }

        function setMessageRead(message, otherUserUuid) {
            if (message.recipientUuid === '{{ user.uuid }}') {
                if (!isCurrentChat(otherUserUuid)) {
                    decrementUnreadCount(otherUserUuid, 1);
                }
            } else {
                updateRecentChatReadStatus(otherUserUuid);
                if (isCurrentChat(otherUserUuid)) {
                    const messageElement = document.getElementById(`message-${message.uuid}`);
                    if (messageElement && messageElement.dataset.read === 'False') {
                        updateMessageReadStatus(messageElement);
                    }
                }
            }
        }
    </script>
{% endblock content %}