{% extends 'users/manage_friends.html' %}
{% block subcontent %}
    <h1>All friends ({{ friends_mutual|length }})</h1>
    <ul>
        {% for friend in friends_mutual %}
            <li>
                <a href="{% url 'direct_message' friend.username %}">{{ friend.username }}</a>
                <form method="POST" action="{% url 'remove_friend' friend.id %}">
                    {% csrf_token %}
                    <button type="submit" name="action" value="remove">Remove</button>
                </form>
            </li>
        {% endfor %}
    </ul>     
{% endblock subcontent %}