{% extends 'users/manage_friends.html' %}
{% block subcontent %}
    <h1>Outgoing requests ({{ outgoing_requests|length }})</h1>
    <ul>
        {% for recipient in outgoing_requests %}
            <li>
                <a href="{% url 'direct_message' recipient.username %}">{{ recipient.username }}</a>
                <form method="POST" action="{% url 'cancel_outgoing_request' recipient.username %}">
                    {% csrf_token %}
                    <button type="submit" name="action" value="cancel">Cancel</button>
                </form>
            </li>
        {% endfor %}
    </ul>     
{% endblock subcontent %}