{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <!-- HTMX -->
    <script src="{% static 'htmx/htmx.min.js' %}" defer></script>
    <script src="{% static 'htmx/ext/ws.js' %}" defer></script>

    <script src="{% static 'main.js' %}" defer></script>
</head>
<body class="" hx-boost="true" hx-history="false" {% if user.is_authenticated %}hx-ext="ws" ws-connect="/ws/chat/"{% endif %}>
    {% if user.is_authenticated %}
        <div id="load" ws-send hx-trigger="load delay:1ms, htmx:afterSwap from:body" hx-vals='js:{"type":"page_load", "path": window.location.pathname}'></div> <!-- BUG: WS load message is sent twice, added 1ms delay as a workaround -->
        <div id="ws-connection-status" hx-preserve="true"></div>
    {% endif %}
        
    <a href="{% url 'chat_home' %}">Home</a>
    {% if user.is_authenticated %}
        <a href="{% url 'settings' %}">Settings</a>
    {% else %}
        <a href="{% url 'account_login' %}">Login</a>
        <a href="{% url 'account_signup' %}">Register</a>
    {% endif %}

    <!-- {% if messages %}
        {% for message in messages %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %} -->
    
    {% block content %}
    {% endblock content %}
</body>
</html>