{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous" defer></script>
    <script src="https://unpkg.com/htmx-ext-ws@2.0.0/ws.js" defer></script>
</head>
<body>
    <div hx-ext="ws" ws-connect="/ws/chat/">
        <a href="{% url 'chat_home' %}">Home</a>
        {% if user.is_authenticated %}
            <a href="{% url 'manage_friends' %}">Friends</a>
            <a href="{% url 'settings' %}">Settings</a>
            <a href="{% url 'account_logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'account_login' %}">Login</a>
            <a href="{% url 'account_signup' %}">Register</a>
        {% endif %}

        {% if messages %}
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
        {% block content %}
        {% endblock content %}
    </div>
    <script>
        document.body.addEventListener('htmx:wsBeforeMessage', (event) => {
            const wsMessage = event.detail.message;
            try {
                const jsonData = JSON.parse(wsMessage);
                handleJsonMessage(jsonData);
            } catch (err) {
                // If parsing fails, assume the websocket message is a HTML string
                handleHtmlMessage(wsMessage);
            }
            // Cancel event to prevent any further unnecessary processing by HTMX
            event.preventDefault();
        });

        function handleJsonMessage(jsonData) {
            const handlers = {
                'all_messages_read': (data) => setAllMessagesRead(data.chat, data.otherUser),
                'message_read': (data) => setMessageRead(data.message, data.otherUser),
                'friend_account_deleted': () => displayChatErrorMessage(),
                'friendship_created': () => handleFriendshipCreated(),
                'friendship_removed': () => handleFriendshipRemoved()
            };

            if (handlers[jsonData.type] !== undefined) {
                handlers[jsonData.type](jsonData);
            }
        }

        function htmlToElement(html, trim = true) {
            html = trim ? html.trim() : html;
            if (!html) return null;

            const template = document.createElement('template');
            template.innerHTML = html;
            const result = template.content.children;

            if (result.length === 1) return result[0];
            return result;
        }

        function handleHtmlMessage(html) {
            const htmlElement = htmlToElement(html);
            const swapElement = htmlElement.children[0];
            const swapId = htmlElement.id;
            const swapOob = htmlElement.getAttribute('hx-swap-oob');
            




            // MOVE INTO SEPERATE FUNCTIONS





            if (swapId === 'recent-chats') {
                const oldChatElement = document.getElementById(swapElement.id);
                if (oldChatElement) {
                    oldChatElement.remove();
                }
                let unreadCount = 0;
                const lastSender = swapElement.dataset.lastSender;
                if (lastSender !== '{{ user }}' && !isCurrentChat(lastSender)) {
                    if (oldChatElement) {
                        unreadCount = parseInt(oldChatElement.querySelector('.unread-count').textContent) + 1;
                    } else {
                        unreadCount = 1;
                    }
                }
                swapElement.querySelector('.unread-count').textContent = unreadCount;
            } else if (swapId === 'messages') {
                // No extra processing needs to be done
            }

            document.getElementById(swapId).insertAdjacentElement(swapOob, swapElement);
        }

        function isCurrentChat(otherUser) {
            return '{{ current_other_user }}' && (otherUser === '{{ current_other_user }}')
        }
    </script>
</body>
</html>