{% extends 'base.html' %}
{% block content %}
    <ul>
        <li>
            <a href="{% url 'friends_list' %}">All friends</a>
        </li>
        <li>
            <a href="{% url 'incoming_requests' %}">Incoming requests</a>
        </li>
        <li>
            <a href="{% url 'outgoing_requests' %}">Outgoing requests</a>
        </li>
        <li>
            <a href="{% url 'add_friend' %}">Add friend</a>
        </li>
    </ul>
    
    {% block subcontent %}
    {% endblock subcontent %}
{% endblock content %}