{% extends 'chat/home.html' %}
{% block home_content %}
    <div>
        <ul class="horizontal-menu">
            <li>
                <a href="{% url 'friends_list' %}" hx-target="#manage-friends-content">All (<span id="friends-count">{{ friends_mutual|length }}</span>)</a>
            </li>
            <li>
                <a href="{% url 'incoming_requests' %}" hx-target="#manage-friends-content">Incoming (<span id="incoming-count">{{ incoming_requests|length }}</span>)</a>
            </li>
            <li>
                <a href="{% url 'outgoing_requests' %}" hx-target="#manage-friends-content">Outgoing (<span id="outgoing-count">{{ outgoing_requests|length }}</span>)</a>
            </li>
            <li>
                <a href="{% url 'add_friend' %}" hx-target="#manage-friends-content">Add</a>
            </li>
        </ul>
    </div>
    
    <div id="manage-friends-content">
        {% block manage_friends_content %}
        {% endblock manage_friends_content %}
    </div>
{% endblock home_content %}