{% extends 'base.html' %}
{% block content %}
    <div class="flex-container">
        <div id="settings-sidebar" class="sidebar">
            <a href="{% url 'chat_home' %}">Home</a>

            <ul>
                <li>
                    {% url 'account_email' as account_email_url %}
                    <a href="{{ account_email_url }}" {% if request.path == account_email_url %}class="active"{% endif %}>Change email</a>
                </li>
                <li>
                    {% url 'account_change_password' as account_change_password_url %}
                    <a href="{{ account_change_password_url }}" {% if request.path == account_change_password_url %}class="active"{% endif %}>Change password</a>
                </li>
                <li>
                    {% url 'delete_account' as delete_account_url %}
                    <a href="{{ delete_account_url }}" {% if request.path == delete_account_url %}class="active"{% endif %}>Delete account</a>
                </li>
                <li>
                    {% url 'account_logout' as account_logout_url %}
                    <a href="{{ account_logout_url }}" {% if request.path == account_logout_url %}class="active"{% endif %}>Logout</a>
                </li>    
            </ul>
        </div>
        
        <div id="settings-content" class="content">
            {% block settings_content %}
            {% endblock settings_content %}
        </div>
    </div>
{% endblock content %}